<div *ngIf="data" class="control-section">
  <div class="content-wrapper">
    <ejs-treegrid
      #grid
      [dataSource]="data"
      childMapping="friends"
      [treeColumnIndex]="1"
      id="gridcomp"
      allowSorting="true"
      allowReordering="true"
      allowRowDragAndDrop="true"
      [allowTextWrap]="textWrap"
      [sortSettings]="sortSetting"
      [contextMenuItems]="contextMenuItems"
      (contextmenu)="contextMenuOpen($event)"
      [allowSelection]="true"
      [selectionSettings]="selectionOption"
      (actionComplete)="actionComplete($event)"
      (actionBegin)="actionBegin($event)"
      [allowFiltering]="enableFilter"
      [editSettings]="editing"
      (contextMenuClick)="contextMenuClick($event)"
    >
      <e-columns>
        <e-column
          *ngFor="let item of columnStyle"
          [field]="item.field"
          [headerText]="item.headerText"
          [customAttributes]="setColumnAttribute(item.field)"
          [textAlign]="item.textAlign"
          [minWidth]="item.minWidth"
          [type]="item.type"
        ></e-column>
      </e-columns>
    </ejs-treegrid>
  </div>
</div>
<ng-template #columnStyleModal placement="bottom" let-modal>
  <div class="v2-ui-integretion m-2">
    <span>Display Text</span>
    <div class="input-group mb-2">
      <div class="input-group-prepend"></div>
      <input
        type="text"
        class="form-control pl-1"
        placeholder="Enter the Text"
      />
    </div>
    <span>Link URL</span>
    <div class="input-group mb-2">
      <div class="input-group-prepend"></div>
      <input
        type="text"
        class="form-control pl-1"
        placeholder="Enter the Link"
      />
    </div>
    <div class="d-flex justify-content-end w-100 px-2 pb-3 pt-2">
      <!-- <button
        type="button"
        class="btn btn-normal mr-2 px-3"
        [ngbPopover]="popTag3"
        triggers="manual"
        #p2="ngbPopover"
        placement="top"
        [autoClose]="'outside'"
        (click)="openTagList(p2)"
      >
        Merge Fields
      </button> -->
      <button class="btn btn-normal px-3 mr-1">Cancel</button>
      <!-- <button
        [disabled]="linkText == '' || selectedTextForLink == ''"
        class="btn btn-primary px-3 ml-1"
        (click)="addLink(modal)"
      >
        Create
      </button> -->
    </div>
  </div>
</ng-template>
<!-- <div *ngIf="showColumn">
  <ejs-dialog
    id="dialog"
    #ejDialog
    [position]="position"
    content=""
    width="250px"
    [buttons]="button"
    width="350px"
  >
    <h3>Display Columns</h3>
    <table id="property" title="Properties" style="width: 100%">
      <tbody>
        <tr *ngFor="let item of columnStyle">
          <td style="width: 70%">
            <div>{{ item.headerText }}</div>
          </td>
          <td style="width: 30%; padding: 10px 10px 10px 0px">
            <div class="col-md-6">
              <input
                type="checkbox"
                (change)="setColumns($event, item.headerText || '')"
                [checked]="columnData.has(item.headerText)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ejs-dialog>
</div>

<div *ngIf="enableMultiSort">
  <ejs-dialog
    id="dialog"
    #ejDialog
    content=""
    [position]="position"
    width="250px"
    [buttons]="button"
    width="350px"
  >
    <h3>sort settings</h3>
    <table id="property" title="Properties" style="width: 100%">
      <tbody>
        <tr *ngFor="let item of columnStyle">
          <td style="width: 70%">
            <div>{{ item.headerText }}</div>
          </td>
          <td style="width: 30%; padding: 10px 10px 10px 0px">
            <div class="col-md-6">
              <input
                type="checkbox"
                (change)="setColumnSort($event, item.field || '')"
                [checked]="sortData.has(item.field)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ejs-dialog>
</div>
<div *ngIf="editStyle || addNewColumn">
  <ejs-dialog
    id="dialog"
    content=""
    [buttons]="styleEditorButtons"
    width="400px"
    [position]="position"
  >
    <h3 class="col-lg-12 pb-10">Column styles</h3>
    <div *ngIf="addNewColumn" class="col-lg-6">
      <label>Fieldt</label>
      <input type="text" [(ngModel)]="currentColumnStyle.field" />
    </div>
    <div class="col-lg-6 pb-10">
      <label>Header Text:</label>
      <input type="text" [(ngModel)]="currentColumnStyle.headerText" />
    </div>
    <div class="col-lg-6 pb-10">
      <label>Text Align:</label>
      <select [(ngModel)]="currentColumnStyle.textAlign">
        <option value="Right">Right</option>
        <option value="Left">Left</option>
        <option value="Center">Center</option>
      </select>
    </div>
    <div class="col-lg-6 pb-10">
      <label>textSize:</label>
      <input type="number" [(ngModel)]="currentColumnStyle.textSize" />
    </div>
    <div class="col-lg-6 pb-10">
      <label>Text Color:</label>
      <input type="text" [(ngModel)]="currentColumnStyle.color" />
    </div>
    <div class="col-lg-6 pb-10">
      <label>Background Color:</label>
      <input type="text" [(ngModel)]="currentColumnStyle.background" />
    </div>
    <div class="col-lg-6 pb-10">
      <label>Column Type:</label>
      <select [(ngModel)]="currentColumnStyle.type">
        <option value="string">string</option>
        <option value="number">number</option>
        <option value="boolean">boolean</option>
        <option value="date">date</option>
        <option value="datetime">datetime</option>
      </select>
    </div>
    <div class="col-lg-6 pb-10">
      <label>Min Width:</label>
      <input type="number" [(ngModel)]="currentColumnStyle.minWidth" />
    </div>
  </ejs-dialog>
</div> -->
<!-- 
<router-outlet></router-outlet> -->
