// App Colors
$primary-color: #0047af;
$primary-2-color: #343434;
$secondary-color: #ff6565;
$secondary-2-color: #07c3ac;

$swatches-blue: #005be0;
$swatches-black-grey: #3d4455;
$swatches-gray: #486c98;
$swatches-white: #fff;
$swatches-light-white: #f3f3f3;
$swatches-light-gray: #e5e9ed;
$swatches-light-boder-gray: #bdc2cf;
$swatches-green: #029d11;
$swatches-common-gray: #9b9ea1;
$border-color: #e0e6ed;
$white-gray: #677283;
$text-black-grey: #4c4c4c;

// App Fonts
